<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=@title  ||= "Nomadder" %></title>
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/main.css">
	
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
	<link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>


	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/script/script.js"></script>
	

</head>
<body>
<!-- on every page -->
<div id="wrap">
	<header> 
	<a class="logo" href="logged_in">N</a>	
	<nav>
	<ul>
	<% if current_user %>
		<!-- <li><%="hello #{current_user.fname}"%></li>  -->
		<li><a href="profile">Profile</a></li>
		<li><a href="account_setting">Account Settings</a></li>
		<li><a href="/sign_out">Sign out</a> </li>
		<li><a href="account_setting"><img src="<%= @user.photo %>" alt=""></a></li>
	<% else %>
		<li><a href="/signup">Sign up</a></li>
		<li> <a href="/signin">Sign in</a></li>
	<% end %>
	</ul>
	</nav>
	</header>

	
	<div id="container">
	
	
    
	<%= yield %>

	</div>
	

	<footer>
	<p id= "copyright">© Nomadder</p>
</footer>
</div>	
	
</body>
</html>