<div id="containerL">
	<div id="wrapperL">
		<div id="sidebar_right">
			<h1>
				This is where user info goes
			</h1>
		</div>
		<div id="feed">
			<h1>
				This is where the top 10 posts go!!
			</h1>
		</div>
		<div id="sidebar_left">
			<h1>
				This is where travel tips go.
			</h1>
		</div>
	</div>
</div>