<div id="containerL">
	


	<div id="wrapperL">
		

		<div id="sidebar_right">
			<!-- <h1>
				This is where user info goes! br
			</h1> -->
		</div>
		
		<div id="feed">
			<h1>
				Update your status
			</h1>
			<br>
			<form id="postmain" method="POST" action="/post">   
			<input id="body" type="text" name="[post]body" placeholder="150 characters max" style="text-align: center;">
			<input type="submit">	
			</form>
			<br>
			<br>
			<h1>
				This is where the top 10 posts go!!
			</h1>
			<div id="topten">
			<!-- 	<%= "This user has #{@user.posts.count} posts." %> -->
			
			<ul>
				
				<% @postsall.each do |t| %>
				
				<li><%= "#{t.date.strftime("%b %d, %l:%M%p")}" %> <br> 
				<%= "#{t.user.fname} posted #{t.body}" %></li> 
			<br>
				<% end %>
			</ul>
			
			</div>
		</div>


		<div id="sidebar_left">
			<h1>
				This is where travel tips go.
			</h1>
		</div>
	</div>



	
</div>