<div id="containerL">
	


	<div id="wrapperL">
		

	<!-- 	<div id="sidebar_left">
			<h1>
				This is where user info goes! br
			</h1>
		</div> -->
			<form id="postmain" method="POST" action="/post">   
			<input id="body" type="text" name="[post]body" placeholder="150 characters max" style="text-align: center;">
			<input type="submit">	
			</form>
			<br>
			<br>
		<div id="feed">
		
		<!-- 	<form id="postmain" method="POST" action="/post">   
			<input id="body" type="text" name="[post]body" placeholder="150 characters max" style="text-align: center;">
			<input type="submit">	
			</form> -->
			
			<h1>
				<!-- This is where the top 10 posts go!! -->
			</h1>
			<div id="topten">	
			<ul>
				<h1 style="margin-left:20px">MOST RECENT POSTS:</h1>
				<% @postsall.each do |t| %> <!-- JASON change this from @postall to @posts -->
				
				<li><u><%= "#{t.date.strftime("%b %d, %l:%M%p")}, #{t.user.fname} posted:" %></u><br> 
				<%= "#{t.body}" %></li> 
		
				<% end %>
			</ul>
			
			</div>
		</div>


		<div id="sidebar_right">

			<!-- <img src="<%= @user.photo %>" alt="">
			<br>
			<%= @user.username %> -->
		</div>
	</div>



	
</div>