<div id="container" style="width:1300px; height:450px; border:1px solid; text-align: center;">

<div id="photo" style="float: left;">

<img src="images/personalphoto.jpg" alt="some text."width="200" height="125">

</div>
	
	<body> 

	Posts

	<div id="rightbox" style="
	width:400px; 
	height:450px; 
	background-color: orange;	
	float:right;
	border:1px solid;">
	</div>

</div>


</body>

	