<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=@title  ||= "Nomadder" %></title>
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/sign_in.css">
	<link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
</head>
<body>

<div id="existing">
<p id="logo">Nomadder</p>
	<form id="signin" method="POST" action="/signin">  
	<label for="username">Username</label>  
	<input type="text" name="[user]username">  
	<label for="password">Password</label>  
	<input type="password" name="[user]password">  
	<input type="submit"></form>
</div>
<br>
<div id="container">	
<div id="wrapper">
<div id="info">
	<article>
	<h1>
		The social networking site for all your backpacking needs. 
	</h1>
	<br>
	<p>
		Connect with other travelers. See what they are saying about your favorite destinations. Meet up. Make friends for life.
	</p>
	</article>
</div>
<div id="new">
	<h1>SIGN UP</h1>
	<h2>(it's free)</h2>	
	<br>
	<form id="signup" method="POST" action="/signup">  
	<input type="text" name="[user]fname" placeholder="First Name"> 
	<input type="text" name="[user]lname" placeholder="Last Name"> 
<br>
	<input type="text" name="[user]email" placeholder="Your Email"> 
<br>
	<input type="text" name="[user]username" placeholder="User Name">
<br>	
	<input type="password" name="[user]password" placeholder="New Password">  
<br>
	<input type="Submit" value="Sign Up"></form>
</div>
</div>
	<footer>
	<p id= "copyright">© Nomadder</p>
</footer>
</div>

</body>
</html>