/*This is the navigation CSS*/
body {
	font-family: 'Calibri';
}

.logo {
	font-family:'Fredoka One';
	font-size: 40px;
	margin-left: 60px;
	text-decoration: none;
	color: black;
	float: left;
	padding-top: 5px;

}

nav {
	height: 60px;
	font-family: 'Calibri';
	font-size: 16px;
}

nav li{
	display: inline-block;
	padding-left: 20px;
}

nav ul {
	float:right;
	text-align: right;
	margin-right: 50px;
	padding-top: 25px;
}

nav a {
	text-decoration: none;
	font-family:'Calibri';
}

nav a:visited{
	color: blue;
}

nav a:active {
	color: rgb(0,131,145);
}

nav img {
	width: 25px;
	height: 25px;
	padding-right: 0px;
}

/*header img {
	margin-left: 50px;
	margin-top: 20px;
	border-radius: 20px;
}*/

header {
	background-color: orange;
}

/*this is where the logged_in styling begins*/
 #sidebar_right, #feed {
	width: 45%;
	float: left;
	padding-right: 20px;
	background-color: white;

}

#sidebar_right {
	font-family: 'Calibri';
	text-align: center;
}

#sidebar_right img {
	width: 200px;
	height: auto;
}
#feed {
	border-right: solid 2px; 
	margin-bottom: 10px;
}

#containerL {
	width: 100%;	
	margin: auto;
	background-image: url(/images/alone.jpg);
	background-size: 100%;
}

#wrapperL {
	margin: 0 auto;
	overflow: auto;
	border-right-left: solid 1px; 
	width: 65%;
	background-color: white;
	border: solid;
	border-radius: 10px;


}

#postmain {
	text-align: center;
	margin-top: 15px;
}

#postmain #body{
	height: 40px;
	width: 300px;
	border-radius: 10px;
	margin: 0 auto;

}

hr {
	clear:both;
}

#topten li {
	color: black;
	font-size: 15px;
	font-family:'Calibri';
	width: 70%;
	margin: 0 auto;
	border-bottom: solid 1px;
	padding: 10px;
	/*border-radius: 10px;*/
}

h1{
	padding-bottom: 10px;
	font-family:'Calibri';
	font-size: 24px;
	font-weight: 550;
}
/*this is where the main styling is*/
html {
	background-color: rgb(0,131,145);
}

footer {
	font-family: 'Fredoka One',;
	font-size: 13px;
	margin-left: 200px;
}

/*this is where the accounts setting starts*/

#wrapperA {
	margin: 0 auto;
	overflow: auto;
	width: 65%;
	background-color: white;
	border: solid 1px;
	height: 600px;
}

#changesA {
	margin-left: 50px;
	width: 60%;
	font-family: 'Calibri';
	float: left;
	padding-bottom: 20px;
}

#changesA input {
	height: 20px;
	border-radius: 5px;
	width: 200px;
}


article {
	font-family: 'Calibri';
	margin-left: 15px;
	font-size: 16px;
	margin-top: 15px;
}

#photo {
	width: 25%;
	float: left;
	margin-left: 15px;
}

#photo img {
	width: 180px;
}

#containerA {
	background-image: url(/images/60.jpg);
}

